.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px 25px 25px;
    margin-bottom: 15px;
    
}
.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 20px;
    position:relative;
}

.icon_alert {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    right: -10px;
    top:-3px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}


.screen-header__icons a .fa-gear:hover,
.screen-header__icons .fa-gear:hover {
    animation: rotateCog 1s linear infinite;
    cursor: pointer;
}

